{% extends 'basic_template.html' %}

{% block title %} Login {% endblock %}

{% block logged_as %}
<p>You logged in is as {username}</p>
{% endblock %}


{% block content %}

<div class="blank_before"></div>

<div class="wide_div">
    <div></div>
    <div class="form_container_login">
        {% if message %}
        <h1>
        {{ message }}
        </h1>
        {% endif %}
    <form method="post">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Login">
                </td>
            </tr>
        </table>
    </form>
    </div>
    <div></div>
</div>

{% endblock %}
