simple_base_project/chemicals/static/chemicals/dist/css/** linguist-generated=true
simple_base_project/chemicals/static/chemicals/dist/js/** linguist-generated=true
simple_base_project/chemicals/static/chemicals/jsme_files/** linguist-vendored=true
