simple_base_project/chemicals/static/chemicals/dist/css/** linguist-generated
simple_base_project/chemicals/static/chemicals/dist/js/** linguist-generated
simple_base_project/chemicals/static/chemicals/jsme_files/** linguist-vendored
