<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta name="description" content="Ketcher is a web-based chemical structure editor" />
        <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" />
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png" />
        <link rel="manifest" href="static/manifest.json" />
        <title>Ketcher v2.6.4</title>
        <script defer="defer" src="static/static/js/main.50d6a1e1.js"></script>
        <link href="static/static/css/main.8e693d51.css" rel="stylesheet">
    </head>
    <body><noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root"></div>
        <script>
            const getPictureName = async function(molBlock) {
                let response = await fetch("http://localhost:5000/convert/", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        },
                        body: JSON.stringify({"molBlock": molBlock})
                    }
                )
                result = await response.json()
                return result.link_to_file
            }

            const handleMessage = async function(event) {
                if (typeof event.data === 'string' && event.data.indexOf("action") !== -1) {
                    let messageStr = event.data
                    let message = JSON.parse(messageStr)
                    let ketcher = window.ketcher
                    if (message.action === "setMolecule") {
                        let molBlock = message.molBlock
                        ketcher.setMolecule(molBlock)
                    } else if (message.action === "getMolecule") {
                        let source = event.source
                        let molBlock = await ketcher.getMolfile()
                        let response
                        if (message.pictureNeeded) {
                            let pictureName = await getPictureName(molBlock)
                            response = {"molBlock": molBlock, "pictureName": pictureName}
                        } else {
                            response = {"molBlock": molBlock}
                        }
                        let responseStr = JSON.stringify(response)
                        source.postMessage(responseStr, "*")
                    }
                }
            }
            window.addEventListener("message", handleMessage)
        </script>
    </body>
</html>