{% load static %}

<!DOcTYPE html>
<html lang="en">
<head>
    {% block head_content %}
    {% endblock %}
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'base_app/style.css' %}">
</head>
<body>


<div id="header">
    <p id="logo">
        <img align="center" src="{% static 'base_app/there_will_be_logo.png' %}" width="200">
    </p>


    <div id=middle>
        {% if username %}
        <p>You logged in is as {{username}}</p>
        {% endif %}
    </div>


    {% if page_kind == "login" %}
    <div class="button_cont">
        <a href="/registration/">
            <div class="button">
                Registration
            </div></a>
    </div>
    {% elif page_kind == "reg" %}
    <div class="button_cont">
        <a href="/login/">
            <div class="button">
                Login
            </div></a>
    </div>
    {% else %}
    <div class="button_cont">
        <a href="/profile/">
        <div class="button">
            Profile
        </div>
        </a>
        <a href="/logout/">
        <div class="button">
            Logout
        </div></a>
    </div>
    {% endif %}

</div>

{% block content %}
{% endblock %}

</body>
</html>
