<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
        
    </style>
</head>
<body>
    <iframe id="ifKetcher" src="static/index.html" width="800" height="600"></iframe>
    <button id="button">
        Print mol in console
    </button>
    <script type="text/javascript">
        const printMol = function() {
            let ketcherFrame = document.getElementById('ifKetcher');
            let ketcher = ketcherFrame.contentWindow.ketcher;
            let mol = String(ketcher.getMolfile());
            console.log(mol);
        }
        let button = document.getElementById("button");
        button.addEventListener("click", printMol);
    </script>
</body>
</html>
