body {
	background-color: azure;
	width: 100%;
	margin-top: 130px;
	margin-right: 0px;
	margin-left: 0px;
	box-sizing: border-box;
}

#header {
	position: absolute;
	top: 0px;
	background-color: CornflowerBlue;
	color: white;
	width: 100%;
	height: 120px;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
}

body > p {
	padding: 5px;
}

#logo {
	flex: 1;
	max-width: 200px;
	border: 2px white solid;
	margin: 5px;
	height: 95px;

}

.button_cont {
    display: flex;
	max-width: 150px;
	flex: 1;
    margin: 5px;
    padding: 3px 6px 3px 6px;
	border: 1px white solid;
    flex-direction: column;
}

.button {
    display: flex;
	background-color: white;
    color: blue;
    margin: 3px 0px 3px 0px;
    box-sizing: border-box;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#middle {
    display: flex;
	flex: 1;
	margin: 5px;
    justify-content: right;
}

.menu {
	padding: 3px;
	margin: 0px;
}

.blank_before {
    height: 50px;
}

.wide_div {
    display: flex;
}

.form_cont {
	box-sizing: border-box;
	min-width: 630px;
	background-color: white;
}

.wide_div div {
    flex: 1;
}

.form_container_login {
	box-sizing: border-box;
	max-width: 300px;
	background-color: white;
}


table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

td {
    color: blue;
    font-size: 12px;
}

th {
    align: left;
    vertical-align: top;
    padding-right: 5px;
}

.form_container_login th {
    width: 30%;
}

.form_container_login tr>td {
    width: 70%;
}

label {
    font-weight: normal;
    font-size: 14px;
}
