@import "_base.scss";
@import "_layout.scss";
@import "modules/_inputs.scss";
@import "modules/_buttons.scss";
@import "modules/_form.scss";
@import "modules/_single-checkbox.scss";
@import "modules/_tree.scss";
@import "modules/_quill.scss";
@import "modules/_pretty-toggle.scss";
@import "modules/_messages.scss";
@import "modules/_user-input.scss";


.date-range-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.column.ketcher-container {
    grid-column-start: 2;
    grid-column-end: 4;
}

/*Needed for non-iframe ketcher*/
textarea.cliparea {
    display: none;
}

/*These two rules for StructureInput*/
div#ifKetcher {
    height: 400px;
}

div.disabled {
    opacity: 50%;
    background-color: Azure;
}

.three-columns-container {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    column-gap: 3.5%;
}

.two-columns-container {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
}